HELP.md
build/
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea/
.idea/misc.xml
.idea/workspase.xml

*.iws
*.iml
*.ipr

### Gradle ###
.gradle
gradle/
settings.gradle
gradlew
gradlew.bat
### Logs ###
*.log
allure-results